@font-face {
    font-family: 'Oswald';
    src: url('../Font/oswald-Regular.woff2') format('woff2');
    src: url('../Font/oswald-Regular.ttf') format('truetype');
}

body {
    color: #dedede;
    font-family: 'Oswald';
    font-weight: 200;
    font-style: inherit;
    position: relative;
    background-image: url('../Images/bg.jpg');
}


#backlink:hover {
    background-color: #dedede;
}

.nav_link {
    color: #dedede;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald';
    font-size: 2rem;
}

a {
    padding: 10px;
    position: sticky;
    top: 5px;
}

.barre {
    position: sticky;
    top: 0px;
}

/* .select :hover{
    background-color: #dedede;
    color: black;
<<<<<<< HEAD
} */

@media (max-width:700px){
    a{
        color: red!important;
    }
}
