#backlink{
  position: absolute;
}

#band{
  background-position:fixed;
  top:0px;
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:auto;
  width:100%;
}

#logo{
  position:relative;
}

.backlink{
    position:sticky;
    top:0px;
    color:#dedede;
    background-color: black;
}

div.backlink :hover{
  background-color: #dedede;
  color:black;
}
