@font-face {
    font-family: 'Oswald';
    src: url('../Font/oswald-Regular.woff2') format('woff2');
    src: url('../Font/oswald-Regular.ttf') format('truetype');
}

body {
    color: #dedede;
    font-family: 'Oswald';
    font-weight: 200;
    font-style: inherit;
    height: 1mv;
    background-image: url('../Images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-justify: distribute;
}

a:visited{
    text-decoration: none;
    color:white;
}

.pres {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5em;
}

.img_pres {
    height: 300px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.img_descri{
    height: 300px;
    border-radius: 10%;
}

.pres_box {
    background-color: black;
    text-align: center;
    margin: 1em;
    height: 30%;
    border-radius: 10%;
    opacity: 70%;
}

.pres_text {
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.descri_box{
    display: flex;
    align-items: center;
    padding-left: 3%;
    border: 2px dashed white;
    margin-top: 10px;
    
}

.pres_box,
#classic_burger,
#bar_burger:hover .descri_box:hover,
#rac_burger:hover .descri_box:hover,
#veg_burger:hover .descri_box:hover,
#pou_burger:hover .descri_box:hover,
#ulti_burger:hover .descri_box:hover
{
    border: 5px solid rgba(255, 255, 255, 0);
}

.pres_box:hover,
#classic_burger:hover .descri_box:hover,
#bar_burger:hover .descri_box:hover,
#rac_burger:hover .descri_box:hover,
#veg_burger:hover .descri_box:hover,
#pou_burger:hover .descri_box:hover,
#ulti_burger:hover .descri_box:hover {
    border: 5px solid white;
    transition: 0.5s;
}

.descri_txt{
    margin-left: 20%;
    
}

.intro {
    text-align: center;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #2f2f2f;
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 3px solid #2f2f2f;
}


/*.nav_link {
    color: #dedede;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald';
    font-size: 2rem;
}

#backlink:hover {
    background-color: #dedede;
}
*/



/*
.pres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img_pres {
    height: 80%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.pres_box {
    background-color: black;
    text-align: center;
    margin: 1em;
    height: 30%;
    border-radius: 10%;
}

.pres_text {
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
*/