@font-face {
    font-family: 'Oswald';
    src: url('../Font/oswald-Regular.woff2') format('woff2');
    src: url('../Font/oswald-Regular.ttf') format('truetype');
}

body {
    color: #dedede;
    font-family: 'Oswald';
    font-weight: 200;
    font-style: inherit;
    position: relative;
    background-image: url('../Images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-justify:distribute;
}


#backlink:hover {
    background-color: #dedede;
}

.nav_link {
    color: #dedede;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald';
    font-size: 2rem;
}

a {
    padding: 10px;
    position: sticky;
    top: 5px;
}

.barre {
    position: sticky;
    top: 0px;
}

/* .select :hover{
    background-color: #dedede;
    color: black;
} */

@media (max-width:700px){
    a{
        color: red!important;
    }
}


.img_pres{
    height: 80%;
    width: auto;
}

.pres{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.pres_box{
    background-color: black;
    text-align: center;
    margin: 1em;
    height: 30%;
    width: auto;
}

